<section class="antique_page">
<div class="antique_container">
  <div class="antqiue_details">
    <h3><%=@antique.name%></h3>
    <p><%=@antique.description%></p>
    <p>Type: <%=@antique.type%></p>
    <p>Auction: <%=@antique.auction.venue%>, <%=@antique.auction.collection_date%></p>
    <p>Purchase Price: £<%=@antique.purchase_price%></p>
    <p>Sale Price: £<%=@antique.sale_price%></p>
    <a href="/antiques/<%= @antique.id %>/edit">Edit</a>
  </div>
  <div class="antique_image">
    <img src="<%= @antique.image_url %>" alt="<%= @antique.name %> Image">
  </div>
</div>
</section>
