<h2><em>Gifts:</em></h2>
<a class="add_button" href="/gifts/new">+ Gift</a>
<table class="gifts_table">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Wholesaler</th>
    <th>Purchase Price</th>
    <th>Sale Price</th>
    <th>Quantity</th>
  </tr>
  <% @gifts.each do |gift|%>
  <tr>
    <td><a href="/gifts/<%= gift.id %>"><%=gift.name%></a></td>
    <td><%=gift.type%></td>
    <td><a href="/wholesalers"><%=gift.wholesaler.name%></td>
    <td><%=gift.purchase_price%></td>
    <td><%=gift.sale_price%></td>
    <td class=<%="inventory_low" if gift.quantity <= 3 %>><%=gift.quantity%> <%= "- LOW" if gift.quantity <= 3 %></td>
  </tr>
  <% end %>
</table>

<h2><em>Antiques:</em></h2>
<a class="add_button" href="/antiques/new">+ Antique</a>
<table class="antiques_table">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Auction</th>
    <th>Purchase Price</th>
    <th>Sale Price</th>
  </tr>
  <% @antiques.each do |antique|%>
  <tr>
    <td><a href="/antiques/<%= antique.id %>"><%=antique.name%></a></td>
    <td><%=antique.type%></td>
    <td><a href="/auctions"><%=antique.auction.venue%></a></td>
    <td><%=antique.purchase_price%></td>
    <td><%=antique.sale_price%></td>
  </tr>
  <% end %>
</table>
